
<% if current_user %>
  <h1>Hello <%= current_user.name %>, good to have you here. Use our amazing webpage to search for the best parties. Enjoy! </h1>
  <%= image_tag('picture.png', width: "200") %><br/><br/>

  <br/><br/><br/>
<% end %>



