<section class="hero is-medium">
  <div class="container has-text-centered" data-aos="fade-in">
    <h2 class="title is-size-1">My Services</h2>
    <% if @services.empty? %>
      <h3 class="subtitle is-size-5"> You have no services waiting to be approved.</h3>
    <% end %>
  </div>
</section>
<br>
<section class="hero">
  <div class="hero-body">
<div class="container">
<div class="columns is-multiline is-mobile">
  <% @services.each do |service| %>
    <div class="column is-4 ">
      <div class="card">
        <header class="card-header">
          <a class="card-header-title is-size-3" <%= link_to "#{service.name}", service %>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <%= service.description %>
          </div>
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <%= image_tag('picture.png') %>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= service.user.name %></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  <% end %>
</div>
</div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/showcase.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init({
        easing: "ease-out",
        duration: 800,
    });
</script>