<% @my_parties.each do |party| %>
    <h1><%= party.title %> <%= link_to "Show", party %>
    <%= link_to "Edit", edit_party_path(party) %>
    <%= link_to "Delete", party, method: :delete, data: { confirm: "Do you really want to delete this Party?"} %></h1>
    
<% end %>
