<section class="section">
  <div class="container has-text-centered" data-aos="fade-in">
    <h2 class="title is-size-1">Parties you want to attend</h2>
  </div>
</section>
<br>
<section class="hero">
  <div class="hero-body">
<div class="container">
<div class="columns is-multiline is-mobile">
  <% @shown = false %>
  <% @parties.each do |party| %>
    <% party.interesteds.each do |interested| %>
      <% if interested.user_id == @user.id %> <br/>
        <% @shown = true %>
        <div class="column is-one-quarter ">
          <div class="card">
            <header class="card-header">
              <a class="card-header-title is-size-3" <%= link_to "#{party.title}", party %></a>
            </header>
            <div class="card-content">
              <div class="content" > <strong>Current offer:</strong> $<%= interested.offer %></div>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item" <%= link_to "Edit", edit_interested_path(interested) %> </a>
              <a class="card-footer-item" <%= link_to "Delete", interested, method: :delete, data: { confirm: "Do you really want to delete this party offer?"} %> </a>
            </footer>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if !@shown %>
  <section class="section">
    <div class="container has-text-centered" data-aos="fade-in">
        <h3 class="subtitle is-size-5"> You haven't made offers to attend parties yet.</h3>
    </div>
  </section>
<% end %>


</div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/showcase.js"></script>
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
    AOS.init({
        easing: "ease-out",
        duration: 800,
    });
</script>